[Unit]
Description=Monero daemon
After=docker.service
Requires=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --rm --name %n -v /etc/.bitmonero/:/root/.bitmonero:rw --net=host merxnet/monerod --non-interactive
ExecStop=/usr/bin/docker stop %n

[Install]
WantedBy=multi-user.target
